* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
}

body {
    background: grey;
}

/* login page */
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 5px solid blue;
    border-radius: 5px;
    padding: 50px;
    margin: 0 auto;
}

.login-container, .btn {
    margin-top: 10px;
}

/* register page */
.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 250px;
    border: 5px solid blue;
    border-radius: 5px;
    padding: 35px;
    margin: 0 auto; 
}

/* Landing */

ul, nav {
    list-style: none;
}
  
a {
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
}
  
a:hover {
    opacity: 1;
}
  
a.btn{
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    opacity: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
  }
  
section:not(.hero):nth-child(even) {
    background-color: #f5f5f5;
}
  
.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
hr {
    width: 250px;
    height: 3px;
    background-color: #3f51b5;
    border: 0;
    margin-bottom: 50px;
}
  
section h3, title {
    text-transform: capitalize;
    font: bold 32px "Open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}
  
section p {
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}
  
header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    color: #fff;
}

@keyframes fadein {
    100% {
      opacity: 1;
    }
}

header h2 {
    font-family: "Quicksand", sans-serif;
}
  
header nav {
    display: flex;
    margin-right: -15px;
}
  
header nav li {
    margin: 0 15px;
}
  
  /* Hero style*/
.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}
.hero .background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    
}
  
.hero h1 {
    font: bold 60px "Open Sans", sans-serif;
    margin-bottom: 10px;
}
.hero h3 {
    font: normal 28px "Open Sans", sans-serif;
    margin-bottom: 40px;
}
  
.hero a.btn {
    padding: 20px 46px;
}
  
.hero-content-area {
    opacity: 0;
    margin-top: 100px;
   
  
}
/* artwork */
.artwork .grid li {
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
  }
  
  .artwork .grid li.small {
    flex-basis: 30%;
    background-color: blanchedalmond;
  }
  
  .artwork .grid li.large {
    flex-basis: 70%;
    background-color: burlywood;
  }