/* 
MOBILE FIRST! 
@media for larger responsive design sizes further below...
*/

.post {
    display: inline-block;
    border: 4px solid rgba(0, 0, 0, 0.2);
    width: 440px;
    padding: 20px;
    margin: 1%;
}

.attribution {
    display: flex;
    font-weight: bold;
    font-size: 0.7em;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 12px;
}

.attribution img {
    width: 30px;
    height: 30px;
}

.attribution .lg-avatar {
    width: 100px;
    height: 100px;
}

.attribution p {
    display: inline-block;
    margin: 5px;
}

.info {
    text-align: left;
    margin-top: 20px;
    font-size: 0.7em;
}

.timestamp {
    text-align: left;
    margin-top: 5px;
    font-size: 0.7em;
    color: rgb(8, 8, 8, 0.4)
}

/* feed of just users (from search results) */

.user {
    display: inline-block;
    border: 4px solid rgba(0, 0, 0, 0.2);
    width: 200px;
    padding: 20px;
    margin: 1%;
}



/* RESPONSIVE DESIGN ///////////////////////*/


/* 680 /////////////////////////////////////*/
@media screen and (min-width: 680px) { 

}


/* 768 /////////////////////////////////////*/
@media screen and (min-width: 768px) {

    .post {
        display: inline-block;
        border: 4px solid rgba(0, 0, 0, 0.2);
        width: 260px;
    }

    .resource .post {
        display: inline-block;
        border: 4px solid rgba(0, 0, 0, 0.2);
        width: 440px;
        padding: 20px;
        margin: 1%;
    }

}


/* 1024 /////////////////////////////////////*/
@media screen and (min-width: 1024px) { 

}
  

/* 1280 /////////////////////////////////////*/
@media screen and (min-width: 1280px) {

}