/* 
MOBILE FIRST! 
@media for larger responsive design sizes further below...
*/


* {
    box-sizing: border-box;
}
  
body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

header {
    position:fixed;
    bottom:0!important;
    left:0!important;
    top: initial;
}
  
nav {
    padding: 1% 0;
    background-color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    color: white;
}

nav .logo {
    color: red;
}

nav a {
    color: white;
}

footer {
    padding: 1% 0;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    color: white;
}
  
nav {
    position: fixed;
    bottom:0!important;
    left:0!important;
    top: initial;
    z-index: 10;
    height: 46px;
    width: 100%;
}

ul, nav {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-size: 0.8em;
}

nav li.selected {
    background-color: white;
    padding: 0 10px;
    margin: 0 10px 0 0; 
}

nav li.selected a {
    color: black;
    text-decoration: none;
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    background-color: #333;
}

main {
    padding-top: 60px;
}
  
header {
    padding: 12% 0;
}
  
section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
}
  
section:nth-child(even) {
    background-color: #ddd;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* RESPONSIVE DESIGN ///////////////////////*/


/* 680 /////////////////////////////////////*/
@media screen and (min-width: 680px) { 

}


/* 768 /////////////////////////////////////*/
@media screen and (min-width: 768px) {

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        height: 46px;
        width: 100%;
    }

}


/* 1024 /////////////////////////////////////*/
@media screen and (min-width: 1024px) { 

}
  

/* 1280 /////////////////////////////////////*/
@media screen and (min-width: 1280px) {

}