/* 
MOBILE FIRST! 
@media for larger responsive design sizes further below...
*/

.profile-navlinks {
    margin: 20px 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: rgba(0, 0, 0, 0.2);
}

.profile-navlinks li {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-size: 1.0em;
    color: red;
}

.box {
    display: inline-block;
    margin: 0 auto;
    background-image: url("../img/x.png");
    background-position: center;
    background-color: rgba(0, 0, 0, 0.1);
    width: 360px;
    height: 360px;
    border: 4px solid black;
    margin: 1%;
}


.follow {
    font-weight: bold;
    font-size: 1em;
    color: red;
    border: 2px solid
}

/* RESPONSIVE DESIGN ///////////////////////*/


/* 680 /////////////////////////////////////*/
@media screen and (min-width: 680px) { 

}


/* 768 /////////////////////////////////////*/
@media screen and (min-width: 768px) {

    .box {
        display: inline-block;
        background-image: url("../img/x.png");
        background-position: center;
        background-color: rgba(0, 0, 0, 0.1);
        width: 200px;
        height: 200px;
        border: 4px solid black;
        margin: 1%;
    }

    .resource .box {
        display: inline-block;
        background-image: url("../img/x.png");
        background-position: center;
        background-color: rgba(0, 0, 0, 0.1);
        width: 360px;
        height: 360px;
        border: 4px solid black;
        margin: 1%;
    }

    .resource .box-upload {
        display: flex;
        justify-content: center;
        background-image: none;
        background-color: rgba(167, 166, 166, 0.1);
    }

    .resource .box-upload button {
        height: 20px;
        align-self: center;
    }


}


/* 1024 /////////////////////////////////////*/
@media screen and (min-width: 1024px) { 

}
  

/* 1280 /////////////////////////////////////*/
@media screen and (min-width: 1280px) {

}