/* 
attempting to follow BEM naming conventions
http://getbem.com/naming/
*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700;900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,300;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');


/* Responsive Typography ///////////////////////////////////////////////////*/
/* may integrate later...
src: https://css-tricks.com/fun-viewport-units/#responsive-typography       */


html {
    /* Minimum 16x, and grows more slowly (half the rate of screen growth) */
    /* font-size: calc(1em + 0.5vw); */
    
    /* Line-height based on font-size, with addition viewport-relative growth */
    /* line-height: calc(1.1em + 0.5vw);
    margin: 0.5em; */
}
  
h1 {
    /* Grows more quickly, allowing for wider variation on larger screens */
    /* font-size: calc(1.5rem + 1.5vw); */
}
  
h2 {
    /* Based on the root text-size, and therefor growing at the same rate */
    /* font-size: 1.25rem; */
}
  
  
h1, h2 {
    /* font-weight: bold; */
}
  
h1, h2, p {
    /* margin: .5em 0; */
}

/* ///////////////////////////////////////////////////*/



body {
    /* background-color: rgba(153, 152, 152, 0.1); */
    background-color: rgb(240, 240, 240);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em; /* 16px */
    /* font-family: 'Roboto Slab', serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

h1 {
    font-size: 2rem;
}

.title {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 1.5rem;
}

.timestamp {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: black;
    /* text-decoration: none; */
}

main {
    padding-top: 0;
}

.button {
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 4px solid black; 
    padding: 5px 10px;
    margin: 15px 10px 0 0; 
}
  
.button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.icon--nav {
    font-size: 2rem;
}

.icon--profile {
    font-size: 6rem;
    color: rgba(0, 0, 0, 0.1)
}

.artsy {
    display: inline-block;
    font-family: 'Chelsea Market';
    color: rgba(0, 0, 0, 0.6)
}

.error {
    font-family: 'Roboto Slab';
    font-weight: 900;
    font-size: 0.8rem;
    margin: 18px 0 2px 0;
    color: red;
}

/* Inputs ///////////////////////////////////////////////////*/

input, .input { 
    font-family: 'Roboto'; 
    font-weight: 400;
    padding: 4px;
    /* width: 100%; */
    font-size: 1.2rem;
}

.input--title {
    font-family: 'Roboto Slab'; 
    font-weight: 900;
    font-size: 1.6rem;
}

.input--file {
    font-size: 1rem;
}

label {
    font-family: 'Roboto Slab';
    font-weight: 900;
    font-size: 0.8rem;
    margin: 18px 0 2px 0;
    color: rgba(0, 0, 0, 0.6);
}

.inputgroup {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    /* width: 100%; */
}

.input__actions{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

/* Upload/Edit Post & Signin ///////////////////////////////////////////////////*/

.upload, 
.edit,
.signin {
    /* border: 1px solid black;  */
    margin: auto; 
    margin-top: 30px;
    width: 90vw;
    padding: 30px;
}

.signin {
    margin-top: 0;
}

.signin {
    max-width: 400px;
}

.signin__postscript {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 0.8rem;
}

.signin_postscript p {
    display: inline;
}

.signin__buttonlink {
    display: inline;
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Roboto Slab';
    font-weight: 900;
    font-size: 1rem;
    color: black;
}
    

/* Profile styling ///////////////////////////////////////////////////*/

.profile__header {
    background-color: rgba(99, 98, 98, 0.1);
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    /* filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 1)); */

}

.profile-image {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
}

.username-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.profile-button {
    height: 20%;
    margin: 10px;
}

.profile__title {
    font-weight: 700;
    font-size: 2rem;
    /* color: red; */
}

.profile__bio {
    font-family: 'Roboto Slab';
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.input__actions--profile {
    margin: 0;
}

.button--follow {
    margin-right: 0;
}

.subnav__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    font-family: 'Roboto Slab';
    font-weight: 400;
}

.subnav__links li {
    padding: 10px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.4s;
}

.subnav__links li:hover {
    color: black;
    cursor: pointer;
}

.subnav__links li.selected {
    color: black;
    font-weight: 700;
}


/* Navigation ///////////////////////////////////////////////////*/

.nav {
    position: fixed;
    bottom:0!important;
    left:0!important;
    top: initial;
    z-index: 10;
    /* height: 46px; */
    width: 100%;
    background-color: rgba(240, 240, 240, 0.95);

}

.nav__links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.nav__links a {
    padding: 10px;
    display: block;
    color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.4s;
}

.nav__links a:hover {
    color: black;
}

.nav__links .selected a {
    color: black
}

.nav__links .logo {
    display: inline-block;
    font-family: 'Chelsea Market';
    /* color: rgba(0, 0, 0, 0.5); */
    font-size: 1.6rem;
    /* padding: 10px; */
}

.logo--solo {
    display: inline-block;
    font-family: 'Chelsea Market';
    font-size: 3rem;
    color: black;
}

.nav__links .button {
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 4px solid black; 
    padding: 5px 10px;
    margin: 15px 10px 0 0; 
}
  
.nav__links .button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.nav__avatar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

.nav__username {
    font-family: 'Roboto Slab';
    font-weight: 900;
    font-size: 0.8rem;
    text-decoration: none;
    padding-left: 4px;
}

.nav__username {
    display: none; /* don't display when real estate at a premium */
    text-decoration: none;
}



/* Landing Page? ///////////////////////////////////////////////////*/

.hero-banner{
    height: 80vh;
    width: 100vw;
    border: 1px solid black;
    text-align: center;
}

.hero-section{
    height: 60vh;
    width: 100vw;
    text-align: center;
    border: 1px solid black;
}

.landingpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto; 
    width: 90vw;
    padding: 30px 12px 30px 12px;
}

.landingpage__action {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
}

.landingpage h2 {
    align-self: center;
    color: rgb(255, 94, 0);
}


/* Home Feed ///////////////////////////////////////////////////*/

.home__intro {
    /* border: 1px solid black;  */
    margin: auto; 
    margin-top: 30px;
    width: 90vw;
    padding: 30px 12px 30px 12px;
}

.home__intro p {
    margin-top: 20px;
}

.home__intro p:nth-child(2) {
    margin: 0;
}

/* Post ///////////////////////////////////////////////////*/

.post__wrapper {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90vw;
}

.post__attribution {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px 12px 12px 0;
}

.post__user {
    display: flex;
}

.post__username {
    font-family: 'Roboto Slab';
    font-weight: 700;
    padding: 0;
    margin: 0 0 0 4px;

}

.post__username--repost {
    /* font-weight: 300; */
    /* font-style: italic;  */
    font-size: 0.8rem;
    
    padding: 0;
    margin: 0;
    height: 24px;
    margin-left: 8px;
    color: grey;
    padding-top: 4px;
}

.post__username--repost a {
    color: grey;
}



.post__img{
    /* width: 100%; */
    /* height: 80%; */
    /* border: 1px solid black; */
    /* margin: auto; */
}

.post__img img {
    width: 100%;
}

.post__actions{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 12px;
}

.post__info{
    display: flex-wrap;
    padding: 12px;
    background-color: white;
}

.post__info li {
    padding: 5px 0;
}

.icon--post {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.4s;
    /* padding: 12px; */
}

.icon--post:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
}

.comments__container {
    background-color: white;
    padding: 12px;
    font-size: 0.8rem;
}

.comments__container div:first-child {
    padding-top: 0;
}

.comments__form {
    /* display: flex;
    justify-content: flex-start;
    align-content: center; */
}

.post__username--commentary {
    font-family: 'Roboto';
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}

.icon--commentary {
    font-size: 1.2rem;
}

.inputgroup--comments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 10px;
}

.inputgroup--comments .input {
    font-size: 0.8rem;
    width: 100%;
    margin-right: 10px;
}

.inputgroup--comments .button {
    margin: 0;
}

.followers__container {
    margin: auto; 
    width: 90vw;
    padding: 30px;
    text-align: center;
}

.follower .post__user {
    margin: auto;
}

/* Footer ///////////////////////////////////////////////////*/

.footer {
    font-family: 'Roboto Slab';
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    color: black;
    padding-bottom: 100px;
}

.footer p {
    display: inline-block;
    font-size: 0.8rem;
    padding: 10px;
    /* height: 44px; */
}

.footer a {
    color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.4s;
}

.footer a:hover {
    color: black;
}


/* RESPONSIVE DESIGN ///////////////////////*/

/* iPhone portrait /////////////////////////////////////*/
@media only screen and (min-width: 320px) {

}

/* iPhone landscape /////////////////////////////////////*/
@media only screen and (min-width: 480px) {

}

/* Android landscape /////////////////////////////////////*/
@media only screen and (min-width: 640px) {

    .landingpage {
        width: 50%;
    }

}


/* iPad portrait /////////////////////////////////////*/
@media screen and (min-width: 768px) {

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        height: 87px;
        width: 100%;
    }

    main {
        padding-top: 80px;
    }

    .upload, 
    .edit,
    .signin {
        border: 1px solid black; 
        margin: auto; 
        margin-top: 30px;
        width: 50%;
        padding: 30px;
    }

    .home__intro {
        max-width: 50%;
    }

    .post__wrapper {
        width: 60vw;
    }
    

    .profile__header {
        padding-top: 20px;
    }

    .footer {
        padding-bottom: 20px;
    }

    .nav__username {
        display: inline;
        text-decoration: none;
    }


}


/* iPad landscape /////////////////////////////////////*/
@media screen and (min-width: 1024px) { 

}
  

/* 1280 /////////////////////////////////////*/
@media screen and (min-width: 1280px) {

}

/* 1600 /////////////////////////////////////*/
@media only screen and (min-width: 1600px) {

}


/* RESPONSIVE DESIGN TEMP BORDER GUIDE ///////////////////////*/

/* @media only screen and (min-width: 320px) {
    body { border: 3px solid purple; }
}

@media only screen and (min-width: 480px) {
    body { border: 3px solid green; }
}

@media only screen and (min-width: 640px) {
    body { border: 3px solid brown; }
}

@media screen and (min-width: 768px) {
    body { border: 3px solid red; }
}

@media screen and (min-width: 1024px) { 
    body { border: 3px solid blue; }
}
  
@media screen and (min-width: 1280px) {
    body { border: 3px solid aqua; }
}

@media only screen and (min-width: 1600px) {
    body { border: 3px solid yellow; }
} */