*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title{
    border: 1px solid black;
    height: 20vh;
    display: flex;
}

.profile-image{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
}

.profile-details, .username-container{
    border: 1px solid black;
    margin: 10px;
}

.profile-navlinks{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    padding: 10px;
}

.profile-navlinks li{
    list-style: none;
    border: 1px solid black;
    padding: 10px;
}
